# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large/generated data (optional)
data/raw/